{% extends "base.html" %}

{% block subtitle %} Pichon-User {% endblock %}

{% block body%}
    {% if user %}
        {{user.id}}. {{ user.role }}<h1>{{ user.username }}</h1>
        {% if current_user.role.lower() == 'admin' %}
            | <a href = " {{url_for('auth.edit_role', pk = user.id ) }}">edit_role</a> |
        {% endif %}
        {% if user.id == current_user.id %}
            | <a href = " {{url_for('auth.update_user_info') }}">update info</a> | 
            <a href = " {{url_for('auth.change_role_request') }}">ask for change of role</a>
        {% endif %}

        {% if user.id == current_user.id %}
            | <a href = " {{url_for('auth.delete_user', username = user.username ) }}">delete account</a> |
        {% elif  current_user.role.lower() == 'admin' %}
            | <a href = " {{url_for('auth.delete_user', username = user.username ) }}">remove user</a> |
        {% endif %}

        <hr>
       
        <p>Name: {{ user.name }}</p>
        <p>email: {{ user.email }}</p>
        
        <p>Created by {{ user.creator.username }} on {{ user.creation_date}}</p>
        <p>Last modified by {{ user.last_modifier.username }} on {{ user.last_modified_date}}</p>

        <h3>Actions:</h3>
        <h4>Created</h4>
        
        Words:
        <ul>
            {% for word in user.words_created %}
                <li>{{ word.word }}</li>
            {% endfor %}
        </ul>

        <br>Meanings:
        <ul>
            {% for meaning in user.meanings_created %}
                <li>{{ meaning.meaning }}</li>
            {% endfor %}
        </ul>

        <br>Examples:
        <ul>
            {% for ex in user.exampls_created %}
                <li>{{ ex.example }}</li>
            {% endfor %}
        </ul>

        <br>Users:
        <ul>
            {% for usr in user.users_created %}
                <li>{{ usr.username }}</li>
            {% endfor %}
        </ul>



        <h4>Modified</h4>
        
        Words:
        <ul>
            {% for word in user.words_modified %}
                <li>{{ word.word }}</li>
            {% endfor %}
        </ul>

        <br>Meanings:
        <ul>
            {% for meaning in user.meanings_modified %}
                <li>{{ meaning.meaning }}</li>
            {% endfor %}
        </ul>

        <br>Examples:
        <ul>
            {% for ex in user.exampls_modified %}
                <li>{{ ex.example }}</li>
            {% endfor %}
        </ul>

        <br>Users:
        <ul>
            {% for user in user.users_modified %}
                <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    
        <h3>Actions from actions:</h3>
        <ul>
            {% for action in user.actions %}
                <li>{{ action }}</li>
            {% endfor %}
        </ul>


    {% else %}
        <h3>Post(pk = {{pk}}) not found.</h3>
    {% endif %}
{% endblock %}