{% extends "base.html" %}

{% block body%}
    {% if user %}
        {% if current_user.role.lower() == 'admin' %}
            {{user.id}}. {{ user.role }}
        {% endif %}
        <h1>{{ user.username }}</h1>
        {% if current_user.role.lower() == 'admin' %}
            <a class = "btn btn-dark" href = " {{url_for('auth.edit_role', pk = user.id ) }}">edit_role</a>
        {% endif %}
        {% if user.id == current_user.id %}
            <a class = "btn btn-dark" href = " {{url_for('auth.update_user_info') }}">Update Information</a>
            <!--a href = " {{url_for('auth.change_role_request') }}">ask for change of role</a -->
        {% endif %}

        {% if user.id == current_user.id %}
            <a class = "btn btn-danger" href = " {{url_for('auth.delete_user', username = user.username ) }}">Delete Account</a>
        {% elif  current_user.role.lower() == 'admin' %}
            <a class = "btn btn-danger" href = " {{url_for('auth.delete_user', username = user.username ) }}">Remove User</a>
        {% endif %}

        <hr>
       
        <p>Name: {{ user.name }}</p>
        {% if user.id == current_user.id %}
            <p>email: {{ user.email }}</p>
        {% endif %}
        
        <p>Account created on {{ user.creation_date}}</p>
        <p>Last updated on {{ user.last_modified_date}}</p>

        {% if user.id == current_user.id %}
            <h4>Rooms:</h4>
                <ul class = 'list-group'>
                    {% for room in user.rooms %}
                        <li>
                            <a class = 'list-group-item list-group-item-action' href=" {{ url_for('main.room_view', room_id = room.id) }} "> {{ room.roomname}}</a> 
                        </li>
                    {% endfor %}
                </ul>
        {% else %}
            <h4>Mutual Rooms:</h4>
            <ul class = 'list-group'>
                {% for room in user.rooms %}
                    {% if room in current_user.rooms %}
                        <li>
                            <a class = 'list-group-item list-group-item-action' href=" {{ url_for('main.room_view', room_id = room.id) }} "> {{ room.roomname}}</a> 
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        

    {% else %}
        <h3>Post(pk = {{pk}}) not found.</h3>
    {% endif %}
{% endblock %}