{% extends "base.html" %}

{% block body %}
    <h1>Requset Password Reset<hr></h1>
    {% if form %}
        <form method = "POST" action = "{{ url_for( 'auth.request_password_reset') }}">  
            {{ form.csrf_token }}
            <div class = "form-inline">
                {{ form.email(placeholder="Email", class = 'form-control col-sm-3 mr-2') }}
                {{ form.submit(class="btn") }}
            </div>
        </form>
    {% else %}
        <h3>No form given</h3>
    {% endif %}

 {% endblock %}