<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>{{ title }}</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script type='text/javascript'>
            //login_url = "{{ url_for('auth.login') }}"
            var send_json_url = "{{ url_for('main.send_json') }}"
            var get_json_url = "{{ url_for('main.get_json') }}"
            //logout_url = "{{ url_for('auth.logout') }}"
            var userid = "{{current_user.id}}"
            var username = "{{current_user.username}}"
            var check_url = "{{ url_for('main.check') }}"
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }} "></script>

        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css') }}">

        {% block head %} {% endblock %}
    </head>
    
    <body>
        <div class = "container-fluid p-0 sticky-top">
            <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">ChatRoom</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id = "navbarSupportedContent" class = "collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        {% if current_user.is_anonymous %}
                            <li class = 'nav-item'>
                                <a class="nav-link" href = "{{ url_for('auth.login') }}">Login</a>
                            </li>
                            <li class = 'nav-item'>
                                <a class="nav-link" href = "{{ url_for('auth.sign_up') }}">Sign Up</a>
                            </li>
                        {% else %}
                            <li class = 'nav-item'>
                                <a class="nav-link" href = "{{ url_for('auth.profile') }}">Profile</a>
                            </li>
                            <li class = 'nav-item'>
                                <a class="nav-link" href = "{{ url_for('auth.logout') }}">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div id = "alerts" class = "container-fluid align-center col-sm-3 mt-5">
            {% with msgs = get_flashed_messages(with_categories = true) %}
                    {% for category, msg in msgs %}
                        {% if category %}
                            <div class="{{ category }}">{{msg}}</div>
                        {% else %}
                            <div class="alert alert-info">{{msg}}</div>
                        {% endif %}
                    {% endfor %}
            {% endwith %}
        </div>
        <div id = "body" class="container-fluid fill">
            {% block body %}
            {% endblock %}
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>