{% extends "base.html" %}
{% if current_user.is_authenticated %}
    {% block head %}
        
    {% endblock %}
{% endif %}
{% block body %}
    {% if current_user.is_anonymous %}
        <div class = "container-fluid">
            <span class="align-text-middle">
                <h1 class = "text-center">Welcome to  BasicChatRoom</h1>
                <p class = "text-center"> plese login to use. if u havent signed up yet please sign up first</p>
            </span>
        </div>
    {% else %}
    
    <div id = 'messenger' class = "container-fluid clearfix">
        <div id = 'display' class = 'container-fluid'>
            
        </div>
        
        <div id='msngr-form-div' class= 'form-group'>
            <form name = 'msngr-form' id='msngr-form-id' onsubmit = "return send_json(get_json_url)" class = "form-group">
                <div class = 'form-inline col-sm-12'>
                    <div class = 'form-inline col-sm-10'>
                        <textarea type="textarea" name = 'msg' id = 'msg' class = 'form-control col-sm-12'></textarea>
                    </div>
                    <div class = 'form-inline col-sm-2'>
                        <input type="submit" name = 'msg-submit' class = 'btn btn-primary' value ="send">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type = "text/javascript">
        document.body.addEventListener("load", check(check_url));
        document.getElementById('msg').onkeypress = function(event) {
            //console.log(event.charCode)
            if (event.charCode == 13 && !event.shiftKey) {
                send_json(get_json_url)
                return false;
            }
        };
    </script>
    {% endif %}
{% endblock %}