{% extends "base.html" %}
{% if current_user.is_authenticated %}
    {% block head %}

    {% endblock %}
{% endif %}
{% block body %}
    {% if current_user.is_anonymous %}
        <div class = "container-fluid">
            <span class="align-text-middle">
                <h1 class = "text-center">Welcome to  BasicChatRoom</h1>
                <p class = "text-center">Signup and login to check it out. :) </p>
            </span>
        </div>
    {% else %}
    <!-- >
    <h1>Rooms:</h1>
    <ul>
        {% for room in current_user.rooms %}
            <li><a href="{{ url_for('main.room_view', room_id = room.id)}} ">{{room.id}}:{{room.roomname}}</a></li>
        {% endfor %}
    </ul> 
    <!-->
    {% endif %}
{% endblock %}