{% extends "base.html" %}
{% if current_user.is_authenticated %}
    {% block head %}
        <script type="text/javascript">
            var  get_msg_json_url = "{{url_for('main.get_msg_json', room_id = room.id)}}"
            var  send_msg_json_url = "{{url_for('main.send_msgs_json', room_id = room.id)}}"
            var check_room_url = "{{url_for('main.check_room', room_id = room.id)}}"
            var profile_link = "{{url_for('auth.profile')}}";
            current_room_id = "{{room.id}}";
            var invite_url = "{{ url_for('main.invite_members', room_id = room.id) }}";
        </script>
    {% endblock %}
{% endif %}
{% block body %}
    {% if current_user.is_anonymous %}
        <div class = "container-fluid">
            <span class="align-text-middle">
                <h1 class = "text-center">Welcome to  BasicChatRoom</h1>
                <p class = "text-center"> plese login to use. if u havent signed up yet please sign up first</p>
            </span>
        </div>
    {% else %}
    <h3>{{room.roomname}}</h3>
    <hr>
    <div id='panel'>
        <div id="mySidenav2" class="sidenav sidenav-right">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav_r()">&times;</a>
            {% if current_user.id == room.creator_id or p2rconn_obj.role == 'admin' %}
                <div id = 'admin-panel'>
                    <div id='rename-room-container-div' class="clearfix">
                        <span class='btn btn-secondary form-control' style="color: white;margin: 5px;float: right;" onclick="showRename()">
                            Rename Room
                        </span>
                        <form name = 'rename-form' id = 'rename-form' action = "{{ url_for('main.rename_room', room_id = room.id) }}" method = "POST" style = "display: none;">
                            <input type='text' placeholder="New room name" class="form-control" name='rname' style="margin:5px">
                            <input type="submit" value = 'Rename!' class="btn btn-primary form-control" style="margin:5px">
                        </form>
                    </div>
                    <div id = 'invite'>
                        <h6 style="margin-left: 15px;color:#818181">Invite People</h6>
                        <hr>
                        <div id = 'invite-form-div' class = 'form-group' >
                            <form onsubmit = 'return invite_comm(invite_url)' name = 'invite-form' action = "#" method = "GET">
                                <input type='text' placeholder="Username" class="form-control" name='uname' style="margin:5px">
                                <input type="submit" value = 'Invite!' class="btn btn-primary form-control" style="margin:5px">
                            </form><br>
                            <span id = 'invite_msg' class='alert'></span>
                        </div>
                    </div>
                </div>
            {% endif %}
            <h6 style="margin-left: 15px;color:#818181">Members:</h6>
            <hr>
            {% for member in room.members %}
                <div>
                    <a href="{{ url_for('auth.profile', username = member.username) }}" id = "side_nav_m{{member.id}}">
                        {{member.username}}
                    </a>
                    
                    {% if current_user.id == room.creator_id or p2rconn_obj.role == 'admin' %}
                        <span class = "btn" style="color:darkgray;display: inline-block;padding: 8px 8px 8px 32px;" id = "toggler_{{ member.id }}" onclick="return toggle_admin_control({{ member.id }})">
                            +
                        </span>
                        <div id ='admin_control_buttons_{{ member.id }}' style = "display: none;">
                            <span class = "btn btn-danger" id = 'kick-span-{{member.id}}' onclick='showKick({{member.id}})' style="margin-left:15px;">Kick</span>
                            {% if room.get_p2r_obj(member.id).role == 'admin' %}
                            <span class = "btn btn-primary" id = 'make-admin-span-{{member.id}}' onclick='showMakeAdmin({{member.id}})' style="margin-left:15px;">Remove as admin</span>
                            {% else %}
                                <span class = "btn btn-primary" id = 'make-admin-span-{{member.id}}' onclick='showMakeAdmin({{member.id}})' style="margin-left:15px;">Make Admin</span>
                            {% endif %}
                        </div>
                        <div id = 'kick-div-{{member.id}}' style = "display: none;">
                            <span style="color:white;margin-left:15px;">Are you sure?</span>
                            <a href = "javascript:void(0)" onclick="hideKick({{member.id}})">No</a>
                            <a class = "btn btn-danger" id = 'kick-a-{{member.id}}' style="color:white;margin-left: 15px;" href= "{{ url_for('main.remove_member', room_id = room.id, member_id = member.id) }}">Sure!</a>
                        </div>

                        <div id = 'make-admin-div-{{member.id}}' style = "display: none;">
                            <span style="color:white;margin-left:15px;">Are you sure?</span>
                            <a href = "javascript:void(0)" onclick="hideMakeAdmin({{member.id}})">No</a>
                            <a class = "btn btn-primary" id = 'make-admin-a-{{member.id}}' style="color:white;margin-left: 15px;" href= "{{ url_for('main.make_admin', room_id = room.id, member_id = member.id) }}">Sure!</a>
                        </div>
                    {% endif %}
                    
                    <hr>
                </div>
            {% endfor %}
            <hr>
            <a class = 'btn btn-danger' href = "{{ url_for('main.remove_member', room_id = room.id, member_id = current_user.id) }}" style="margin-bottom: 5px;color: white;display: block;">Leave Room</a>
            {% if current_user.id == room.creator_id %}
                <a class='btn btn-danger' href="{{ url_for('main.delete_room', room_id = room.id) }}" style="margin-bottom: 5px;color: white;display: block;">Delete Room</a>
            {% endif %}
        </div>

        <span style="font-size:30px;cursor:pointer;right:1.5%;position: fixed;" onclick="openNav_r()" id="sidenav_bt2">&#9776;</span>
    </div>
    
    <div id = 'messenger' class = "container-fluid clearfix">
        <div id = 'display' class = 'container-fluid'>
            
        </div>
        
        <div id='msngr-form-div' class= 'form-group'>
            <form name = 'msngr-form' id='msngr-form-id' onsubmit = "return send_msg_json(get_msg_json_url)" class = "form-group">
                <div class = 'form-inline col-sm-12'>
                    <div class = 'form-inline col-sm-10'>
                        <textarea type="textarea" name = 'msg' id = 'msg' class = 'form-control col-sm-12'
                        placeholder="SHIFT+ENTER to send message directly.&#13;&#10;ENTER for new line."></textarea>
                    </div>
                    <div class = 'form-inline col-sm-2'>
                        <input type="submit" name = 'msg-submit' class = 'btn btn-primary' value ="send">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button class='btn btn-dark' id = 'toBottomBtn' onclick="bottomFunction()">Bottom</button>
    <script type = "text/javascript">
        document.body.onload = function(event){
            check_room(check_room_url);
            return true;
        };
        document.getElementById('msg').onkeypress = function(event) {
            if (event.charCode == 13 && event.shiftKey) {
                send_msg_json(get_msg_json_url)
                return false;
            }
        };
    </script>
    {% endif %}
{% endblock %}